index.haml
%html
  %head
    %meta{charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "theme.css"}
    %script{language: "javascript", src: "assets/jquery-1.11.3.min.js", type: "text/javascript"}
    %script{language: "javascript", src: "main.js", type: "text/javascript"}

  %body
    %div.navbar
      %div.navbar-container
        %span.brand
          The Cabins On Cedar Ridge

        %span.nav-menu
          %span.nav-item{"data-target" => "#summary"} About
          %span.nav-item{"data-target" => "#amenities"} Amenities
          %span.nav-item{"data-target" => "#attractions"} Attractions
          %span.nav-item{"data-target" => "#pricing"} Pricing
          %span.nav-item{"data-target" => "#contact"} Contact Us
    %div.splash-frame
    %div.content-frame
      %div.tagline Authentic 1860's era cabins located near beautiful Norris, Tennessee
      %div.content#summary
      %div.divider
      %div#cabin-photos
        %figure
          %img#foust{src: "assets/foust.jpg"}
          %figcaption Foust
        %figure
          %img#harned{src: "assets/harned.jpg"}
          %figcaption Harned
        %br
        click for more info

      %div.divider
      %div.internals
        %div#foust-internal
          %p
            The Foust Cabin features a king size bed in the loft along with a full size sofa sleeper in the living room. It can comfortably accomodate three people.
          %img{src: "assets/foust_1.jpg"}
          %img{src: "assets/foust_2.jpg"}
          %img{src: "assets/foust_3.jpg"}
          %img{src: "assets/foust_4.jpg"}
          %img{src: "assets/foust_5.jpg"}
          %img{src: "assets/foust_6.jpg"}
        %div#harned-internal
          %p
            The Harned Cabin features two bedrooms located upstairs - the master bedroom has a king size bed. The second  bedroom has a queen size bed and a twin. This Cabin will comfortably accommodate up to five people
          %img{src: "assets/harned_1.jpg"}
          %img{src: "assets/harned_2.jpg"}
          %img{src: "assets/harned_3.jpg"}
          %img{src: "assets/harned_4.jpg"}
          %img{src: "assets/harned_5.jpg"}
          %img{src: "assets/harned_6.jpg"}

    %div.background-frame#lake
    %div.content-frame
      %div.content#amenities

    %div.background-frame#mountains
    %div.content-frame
      %div.content#attractions

    %div.background-frame#clinch
    %div.content-frame
      %div.content#pricing

    %div#contact
      Contact Us
      %span.info
        %div.phone (865) . 494 . 3248
        %div.email 
          %a{href: "mailto:oncedarridge@cs.com?subject=Cabins"}
            OnCedarRidge@cs.com
        %div.address 169 Scruggs Cemetary Ln
        %div.address Clinton, TN 37716

    %div.designer
      Website designed by
      %a{href: "mailto:tag.groff@gmail.com?subject=oncedarridge.com"}
        Tag Groff
      2015

index.html
<html>
  <head>
    <meta charset='UTF-8'>
    <link href='theme.css' rel='stylesheet' type='text/css'>
    <script language='javascript' src='assets/jquery-1.11.3.min.js' type='text/javascript'></script>
    <script language='javascript' src='main.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='navbar'>
      <div class='navbar-container'>
        <span class='brand'>
          The Cabins On Cedar Ridge
        </span>
        <span class='nav-menu'>
          <span class='nav-item' data-target='#summary'>About</span>
          <span class='nav-item' data-target='#amenities'>Amenities</span>
          <span class='nav-item' data-target='#attractions'>Attractions</span>
          <span class='nav-item' data-target='#pricing'>Pricing</span>
          <span class='nav-item' data-target='#contact'>Contact Us</span>
        </span>
      </div>
    </div>
    <div class='splash-frame'></div>
    <div class='content-frame'>
      <div class='tagline'>Authentic 1860's era cabins located near beautiful Norris, Tennessee</div>
      <div class='content' id='summary'></div>
      <div class='divider'></div>
      <div id='cabin-photos'>
        <figure>
          <img id='foust' src='assets/foust.jpg'>
          <figcaption>Foust</figcaption>
        </figure>
        <figure>
          <img id='harned' src='assets/harned.jpg'>
          <figcaption>Harned</figcaption>
        </figure>
        <br>
        click for more info
      </div>
      <div class='divider'></div>
      <div class='internals'>
        <div id='foust-internal'>
          <p>
            The Foust Cabin features a king size bed in the loft along with a full size sofa sleeper in the living room. It can comfortably accomodate three people.
          </p>
          <img src='assets/foust_1.jpg'>
          <img src='assets/foust_2.jpg'>
          <img src='assets/foust_3.jpg'>
          <img src='assets/foust_4.jpg'>
          <img src='assets/foust_5.jpg'>
          <img src='assets/foust_6.jpg'>
        </div>
        <div id='harned-internal'>
          <p>
            The Harned Cabin features two bedrooms located upstairs - the master bedroom has a king size bed. The second  bedroom has a queen size bed and a twin. This Cabin will comfortably accommodate up to five people
          </p>
          <img src='assets/harned_1.jpg'>
          <img src='assets/harned_2.jpg'>
          <img src='assets/harned_3.jpg'>
          <img src='assets/harned_4.jpg'>
          <img src='assets/harned_5.jpg'>
          <img src='assets/harned_6.jpg'>
        </div>
      </div>
    </div>
    <div class='background-frame' id='lake'></div>
    <div class='content-frame'>
      <div class='content' id='amenities'></div>
    </div>
    <div class='background-frame' id='mountains'></div>
    <div class='content-frame'>
      <div class='content' id='attractions'></div>
    </div>
    <div class='background-frame' id='clinch'></div>
    <div class='content-frame'>
      <div class='content' id='pricing'></div>
    </div>
    <div id='contact'>
      Contact Us
      <span class='info'>
        <div class='phone'>(865) . 494 . 3248</div>
        <div class='email'>
          <a href='mailto:oncedarridge@cs.com?subject=Cabins'>
            OnCedarRidge@cs.com
          </a>
        </div>
        <div class='address'>169 Scruggs Cemetary Ln</div>
        <div class='address'>Clinton, TN 37716</div>
      </span>
    </div>
    <div class='designer'>
      Website designed by
      <a href='mailto:tag.groff@gmail.com?subject=oncedarridge.com'>
        Tag Groff
      </a>
      2015
    </div>
  </body>
</html>
